<!DOCTYPE html>
<html>
<head>
<style>
body {
  box-sizing: border-box;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: aqua;
}

.items {
  border: 2px solid black;
  text-align: center;
  padding: 80px;
  background-color: red;
}

@media (max-width: 425px) {
  .containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .containers {
    grid-template-columns: repeat(3, 1fr);
  }
}


</style>
</head>
<body>